# Configurações do MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB=ecommerce_db

# Configurações do RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

# Configurações do Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092