# Ambiente Virtual Local
venv/
.venv/
env/
ENV/

# Caches do Python e do Pytest
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.cache/

# Configurações locais e Sensíveis (Ignora o .env real)
.env
.env.local
.env.*.local

# Docker (Caso use dados locais de volume fora do escopo padrão)
.docker/

# Arquivos do Sistema Operacional / IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
Thumbs.db
Desktop.ini